
    body {
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } 
    
    .form-group label {
        font-weight: 600;
    }
    
    .coluna-select .form-group {
        margin-right: 15px;
    }

    .lado1 {
        background-color: seashell;
    }   

    .lado2, .lado3 {
        padding: 1rem;
        border: solid thin rgba(255, 215, 215, 0.36);
    }
    .lado2 a h4, .lado3 a h4 {
        font-size: 1.3em;       
    }
    .lado2 a, .lado3 a {
        text-decoration: none;
        color: #f08080;
        font-size: .8em;
        font-size: 1em;

    }
    .lado3 {
        overflow: auto;
        padding: 1rem;
        /*border: solid thin rgb(218, 213, 213);*/
        /*background-color: #000;*/
        color: #fff;
        height: 100vh;
    }
    .lado3 h4{
        color: lightcoral;
        margin-top: .4em;
        margin-bottom: .4em;
    }
    .lado3 h5 {
        font-size: 1em;
    }
    .lado3 hr {
        border-color: #f0808040;
        margin-bottom: 8em;
    }
    .comentario {
        color: #8cc08c;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .const {
        color: rgb(202, 130, 202);
    }
    .reset-p {
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .tab-p-3 {
        padding-left: 3em;
    }
    .tab-p-4 {
        padding-left: 4em;
    }

    .badge-group .badge {
        border: solid thin rgb(221, 216, 216) !important;
        background-color: white !important;
        color: #000 !important;
        outline: none;
    }

    .badge-group .badge {
        cursor: pointer !important;
    }

    .badge-group .badge-clicado {
        color: white !important;
        background-color: #636363 !important;
        outline: none;
    }




    .all {
        color: #c3c3c3;
    }


    /*prism.js*/
    .code-toolbar {        
        width: 70%;       
        width: 100%;
        /*margin: auto;*/
    }

    @media (min-width: 320px) and (max-width: 667px) {/*prism.js*/
        .code-toolbar {        
            width: 100%;
            font-size: .7em;
        }        
    }



    /*  summernote - escondendot grupo de botões para simplificar a barra de ferramentas   */
    .note-table, .note-insert, .note-para {
        display: none;
    }
